
<div class="footer">
  <footer>
    <!-- Use this Partial template in any other template -->
    <!-- Use some helper functions -->
    <p>Created by <strong>Mitchell Hudson Copyright {{getCurrentYear}}</strong></p>
  </footer>
</div>
