
<header>
  <!-- use this partial template in any other template -->
  <div class="header">

    <div class="header-title">
      <h1>{{pageTitle}}</h1>
    </div>

    <div class="header-nav">
      <nav>
        <ul>
          <li class="home"><a href="/">Home</a></li>
          <li class="posts"><a href="/posts">Posts</a></li>
          <li class="post-new only-when-logged-in"><a href="/posts/new">Posts New</a></li>
          <li class="logout"><a href="/logout">Logout</a></li>
          <li class="login"><a href="/login">Login</a></li>
          <li class="sign-up"><a href="/sign-up">Sign Up</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
