
<form class="form" method="post" action="/posts/new">
  <p class="form-label"><label for="post-title">Title</label></p>
  <p class="form-input"><input id="post-title" type="text" placeholder="title" name="postTitle" /></p>

  <p class="form-label"><label for="post-content">Content</label></p>
  <textarea id="post-content" placeholder="Content" name="postContent"></textarea>

  <p class="form-label"><label for="post-category">Category</label></p>
  <p class="form-input"><input id="post-category" type="text" placeholder="category" name="postCategory" /></p>

  <p class="form-submit-container"><input id="post-submit" type="submit" /></p>
</form>

<small class="debug">Template: posts-new.hbs</small>
