
<article>
  <header>
    <h3>{{user.username}}</h3>
    <p>Created: {{formatDate user.updatedAt}}</p>
  </header>
</article>

<!-- Sometimes it's nice to display the name of a template while testing -->
<small class="debug">Template: profile.hbs</small>
