
<div class="">
  <div class="">
    <form class="form" action="/posts/{{postId}}/comments/{{commentId}}/replies" method="post">
      <p class="">
        <textarea name="content" class="" id="reply-content" placeholder="Reply"></textarea>
      </p>
      <p class='form-submit-container'>
        <input type="submit">
      </p>
    </form>
  </div>
</div>

<small class="debug">Template: replies-new.hbs</small>
