
<form class="form" method="post" action="/sign-up">
  <p class="form-label"><label for="post-user">Username</label></p>
  <p class="form-input"><input id="post-user" type="text" placeholder="Username" name="postUsername" /></p>
  <p class="form-label"><label for="post-password">Password</label></p>
  <p class="form-input"><input id="post-password" type="password" placeholder="Password" name="postPassword" />
  <p class="form-label"><label for="post-password-confirm">Password</label></p>
  <p class="form-input"><input id="post-password-confirm" type="password" placeholder="Password" name="postPasswordConfirm" />

  <p class="form-submit-container"><input id="post-submit" type="submit" /></p>
</form>

<small class="debug">Template: sign-up.hbs</small>
